@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > iframe {
  display: none !important;
}

.nav-style ul {
  background-color: #204099;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.nav-style ul li {
  list-style: none;
  display: inline;
}

.nav-style ul li a {
  text-decoration: none;
  color: #ad3010;
  font-size: 1.4rem;
  margin: 0.4rem;
}
